Thumbs.db
.DS_Store
.project
.settings
.classpath
.gradle
gradlew
gradlew.bat
gradle.xml

application-*.yml
*.jar

**/.idea/
**/gradle/
**/build/
**/environments/

!/gradle/wrapper/gradle-wrapper.properties